/by-sa-eps-converted-to.pdf
/tasks.pdf
/main.pdf
*.hi
*.aux 
*.bbl 
*.*SAVE-ERROR
*.backup
*.bcf 
*-blx.bib
*.dvi 
*.blg 
*.fdb_latexmk
*.fls
*.ilg 
*.idx 
*.nav
*.out
*.ind 
*.log 
*.loc
*.snm
*.soc
*.toc 
*.vrb
*.ptc 
*.ps 
*.xml
*.xdv
*.synctex.gz
*.synctex\(busy\)
*.pdf
_minted-*

# TexStudio session
*.txss2

